# ABOUT: dependencies related to scikit-learn

hdbscan                                     # hierarchical clustering
imbalanced-learn                            # data balancing
keras                                       # deep-learning
scikit-learn                                # machine learning
scikit-lego                                 # machine learning extensions
scikit-optimize                             # machine learning cross validation
scikeras                                    # integrate scikit-learn + keras
tensorflow-macos; sys_platform=="darwin"    # deep learning with MacOS accelerated hardware
tensorflow; sys_platform!="darwin"          # deep learning regular hardware
umap-learn                                  # manifold dimensionality reduction
xgboost                                     # gradient boosting
