# ABOUT: deployable dependencies related to python code correctness

cachetools                                  # caching lib
overrides                                   # python oo code correctness decorator
