# ABOUT: dependencies related to testing

cython                          # optimized python
genbadge[all]                   # status badge generation
pre-commit                      # github commit hoocks
pytest                          # unit test
pytest-benchmark                # test runtime profile
pytest-cov                      # dynamic test code coverage
vulture                         # static unused code
